@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    Ever since I built my first computer in late 2012, I have never stopped designing and developing my digital ideas. Witnessing my programs come to life is something I thoroughly enjoy! The only thing that makes the development process more fun and enjoyable for me is being able to work with others to solve a problem and develop something together that we can be proud of.
    I'm a recent graduate of SUNY Albany and graduated summa cum laude in May 2019. I enjoyed my time learning all about the intricacies of computer science. My personal side projects have always been evolving with the skills and knowledge I acquired from my programming classes and from my own research.
    I'm big into video games and always wondered what it would be like to design a game or game modification and if I could do it and be successful at it. Luckily I managed to find the answer before I went to college. I have spent literally thousands of hours designing and coding my Arma 3 missions with each one being a great success and being received very well by the Arma 3 community.
    When I'm not working on my side projects or my studies I like to write short stories. My imagination is always running wild with ideas so the ones I cannot code I write into reality. None have been published, but it would be nice to someday make them available to the public.
</p>

<p>
    If you have and queries about my projects, myself or anything else, then please do not hesitate to contact me at:
    <a href="mailto:jacob.d.gidley@gmail.com">jacob.d.gidley@gmail.com</a>
</p>
