@{
    ViewBag.Title = "Contact Info";
}
<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>

<!--
<address>
    One Microsoft Way<br />%
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>
-->

<address>
    <!--<strong>Email:</strong> <a href="mailto:jacob.d.gidley@gmail.com">jacob.d.gidley@gmail.com</a>-->
    <span class="glyphicon glyphicon-envelope"></span>
    <strong>Email:</strong> 
    <a href="mailto:jacob.d.gidley@gmail.com">jacob.d.gidley@gmail.com</a>
</address>