@{
    ViewBag.Title = "Jacob Gidley";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="jumbotron">
    <div class="container text-center">
        <h1 style="text-align:center;color:dodgerblue">Jacob Gidley</h1>
        <p class="lead" style="text-align:center">
            Welcome to my first website. Built with ASP.Net MVC. Here you will discover information about myself, my skills, and my projects.
            Please note that as I learn more about web development this website is subject to change.
        </p>
        <p style="text-align:center;color:gold">Enjoy your stay!</p>
        <!-- <p style="text-align:center"><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> -->
        <a class="btn btn-primary btn-lg" onclick="window.open('https://drive.google.com/file/d/1G47cZ8s2Zf2qhXvgtqq_rCWLDseJgg72/view?usp=sharing','_blank')" return false; style="font-size:48px; text-align:center; border-color:darkgray">
            Resume
            <i class="fa fa-file-pdf-o" style="font-size:48px"></i>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-4" style="text-align:center">
        <h2 style="text-align:center;color:gold">View my LinkedIn</h2>
        <!--<p style="text-align:center"><a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/jacob-d-gidley/">LinkedIn &raquo;</a></p>-->
        <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/jacob-d-gidley/"style ="font-size:48px; text-align:center; border-color:darkgray">
            LinkedIn
            <i class="fa fa-linkedin-square" style="font-size:48px"></i>
        </a>
    </div>
    <div class="col-md-4" style="text-align:center;color:gold">
        <h2>See my Code</h2>
        <a class="btn btn-primary btn-lg" href="https://github.com/JakeDG" style="font-size:48px; text-align:center; border-color:darkgray">
            GitHub
            <i class="fa fa-github" style="font-size:48px"></i>
        </a>
    </div>
    <div class="col-md-4" style="text-align:center;color:gold">
        <h2>Gaming Projects</h2>
        <a class="btn btn-primary btn-lg" href="https://steamcommunity.com/workshop/filedetails/?id=219937751" style="font-size:48px; text-align:center; border-color:darkgray">
            Steam
            <i class="fa fa-steam-square" style="font-size:48px"></i>
        </a>
    </div>
</div>
<br />
<br />
<br />
<!--Progrmming Skills List-->
<div class="jumbotron">
    <h1 style="text-align:center;color:dodgerblue">Programming Skills</h1>
    <div class="row">
        <div class="col-md-4">
            <ul style="font-size:24px">
                <li>Java</li>
                <li>C</li>
                <li>C++</li>
                <li>C#</li>
                <li>
                    Assembly Languages
                    <ul style="font-size:16px">
                        <li>MIPS</li>
                        <li>H1</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul style="font-size:24px">
                <li>Javascript</li>
                <li>ASP.Net MVC</li>
                <li>CSS</li>
                <li>HTML</li>
                <li>Python</li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul style="font-size:24px">
                <li>Haskell</li>
                <li>SQL/MYSQL</li>
                <li>R</li>
                <li>Java Jackson JSON</li>
                <li>Video Game Scripting</li>
            </ul>
        </div>
    </div>
</div>
<!-- Software Skills List-->
<div class="jumbotron">
    <h1 style="text-align:center;color:dodgerblue">Software Skills</h1>
    <div class="row">
        <div class="col-md-4">
            <ul style="font-size:24px">
                <li>Mircosoft Windows</li>
                <li>Mac OS</li>
                <li>Linux</li>
                <li>Ubuntu</li>
                <li>UNIX</li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul style="font-size:24px">
                <li>Eclipse</li>
                <li>Visual Studio</li>
                <li>GCC</li>
                <li>Maven</li>
                <li>Git</li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul style="font-size:24px">
                <li>Amazon Web Services</li>
                <li>Postman</li>
                <li>GitHub</li>
                <li>Virtual Machines</li>
                <li>Dedicated Servers</li>
            </ul>
        </div>
    </div>
</div>
<!-- Personal Skills -->
<div class="jumbotron">
    <h1 style="text-align:center;color:dodgerblue">Personal Skills</h1>
    <ul style="font-size:24px">
        <li>Strong communication and interpersonal skills.</li>
        <li>Solid researching and analytical skills.</li>
        <li>Ability to solve design and programming problems effectively.</li>
        <li>Excellent documentation, presentation, and time-management skills.</li>
        <li>Ability to complete projects within specified deadlines.</li>
        <li>Knowledge and experience building Microsoft Windows based computers.</li>
    </ul>
</div>
<!-- Projects -->
<div class="jumbotron">
    <h1 style="text-align:center;color:dodgerblue">Projects</h1>
    <div class="row">
        <ul style="font-size:24px">
            <li>
                <p>
                    <text style="color:gold">Arma 3 Game Content</text>
                    <br />
                    <text style="font-size:20px">Designed, coded, and published 10 missions for an open-world, tactical shooter PC game called Arma 3.</text>
                </p>
                <ul style="font-size:20px;color:darkorange">
                    <li>97,000+ Downloads</li>
                    <li>158,000+ Viewings</li>
                    <li>96% Positive User Ratings</li>
                    <li>Designed for singleplayer, locally hosted, and dedicated server environments.</li>
                    <li>Established quality assurance and user testing methods to ensure pleasent end-user experience.</li>
                </ul>
                <br />
                <a class="btn btn-primary btn-lg" href="https://steamcommunity.com/workshop/filedetails/?id=219937751" style="text-align:center;border-color:darkgray">
                    Missions Page 
                    <i class="fa fa-steam-square"></i>
                </a>
                <a class="btn btn-primary btn-lg" href="https://github.com/JakeDG/SABRE-Series" style="text-align:center;border-color:darkgray">
                    SABRE Source Code 
                    <i class="fa fa-github"></i>
                </a>
                <a class="btn btn-primary btn-lg" href="https://github.com/JakeDG/OPTRE-Series" style="text-align:center;border-color:darkgray">
                    OPTRE Source Code 
                    <i class="fa fa-github"></i>
                </a>
                <a class="btn btn-primary btn-lg" href="https://github.com/JakeDG/FOX-Series" style="text-align:center;border-color:darkgray">
                    FOX Source Code 
                    <i class="fa fa-github"></i>
                </a>
            </li>
        </ul>
    </div>
    <br />
    <div class="row">
        <ul style="font-size:24px">
            <li>
                <p>
                    <text style="color:gold">Custom Multiplayer Server Development for Grand Theft Auto V</text>
                    <br />
                    <text style="font-size:20px">Developed a Rockstar Games sanctioned FiveM multiplayer server for Grand Theft Auto V.</text>
                </p>
                <ul style="font-size:20px;color:darkorange">
                    <li>Designed and coded gameplay features with a small team.</li>
                    <li>Worked with a MySQL relational database to store persistent player data.</li>
                    <li>Established a testing group to provide feedback on bugs and gameplay features.</li>
                </ul>
            </li>
        </ul>
    </div>
    <br />
    <div class="row">
        <ul style="font-size:24px">
            <li>
                <p>
                    <text style="color:gold">RESTful Amazon Web Services</text>
                    <br />
                    <text style="font-size:20px">Developed and deployed five Java projects to Amazon Web Services as RESTful services.</text>
                </p>
                <ul style="font-size:20px;color:darkorange">
                    <li>Services accepted POSTs of JSON data, evaluated and manipulated the data, and outputted the results.</li>
                    <li>Learned how to deploy to AWS using Apache Tomcat, Elastic Beanstalk, and EC2.</li>
                    <li>Experienced how to use the Jackson library with Java and how to test the services using Postman.</li>
                </ul>
                <br />
                <a class="btn btn-primary btn-lg" href="https://github.com/JakeDG/AWS-Algorithms" style="text-align:center;border-color:darkgray">
                    Source Code 
                    <i class="fa fa-github"></i>
                </a>
            </li>
        </ul>
    </div>
    <br />
    <div class="row">
        <ul style="font-size:24px">
            <li>
                <p>
                    <text style="color:gold">Virtual Machine</text>
                    <br />
                    <text style="font-size:20px">Programmed an assembler and virtual machine, in C, for a custom made 32-bit assembly language.</text>
                </p>
                <ul style="font-size:20px;color:darkorange">
                    <li>Developed an assemler, in C, to binarize an assembly language program file.</li>
                    <li>Engineered a virtual machine, in C, to run the machine code produced from the assembler.</li>
                    <li>Created unit tests for the virtual machine in order to ensure correct functionality.</li>
                </ul>
                <br />
                <a class="btn btn-primary btn-lg" href="https://github.com/JakeDG/Virtual-Machine" style="text-align:center;border-color:darkgray">
                     Source Code 
                    <i class="fa fa-github"></i>
                </a>
            </li>
        </ul>
    </div>
</div>




