@{
    ViewBag.Title = "JakeDG";
}

    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
   
    <div class="jumbotron">
        <h1 style="text-align:center">Jacob Gidley</h1>
        <p class="lead" style="text-align:center">
            Welcome to my first website. Built with ASP.Net MVC. Here you will discover information about myself, my skills, and my projects.
            Please note that as I learn more about web development this website is be subject to change.
        </p>
        <p style="text-align:center">Enjoy your stay!</p>
        <!-- <p style="text-align:center"><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> -->
        </div>

    <div class="row">
        <div class="col-md-4" style="text-align:center">
            <h2 style="text-align:center">View my LinkedIn</h2>
            <!--<p style="text-align:center"><a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/jacob-d-gidley/">LinkedIn &raquo;</a></p>-->
            <button onclick="window.open('https://www.linkedin.com/in/jacob-d-gidley/','_blank')" return false; type="button" style="font-size:48px; text-align:center">
                LinkedIn
            <i class="fa fa-linkedin-square" style="font-size:48px;color:#007bb6"></i>
            </button>
        </div>
        <div class="col-md-4" style="text-align:center">
            <h2>See my Code</h2>
            <button onclick="window.open('https://github.com/JakeDG','_blank')" type="button" style="font-size:48px; text-align:center">
                GitHub
                <i class="fa fa-github" style="font-size:48px"></i>
            </button>
        </div>
        <div class="col-md-4" style="text-align:center">
            <h2>Gaming Projects</h2>
            <button onclick="window.open('https://steamcommunity.com/workshop/filedetails/?id=219937751','_blank')" type="button" style="font-size:48px; text-align:center">
                Steam
                <i class="fa fa-steam-square" style="font-size:48px"></i>
            </button>
        </div>
    </div>
