
@{
    ViewBag.Title = "Links";
}

<h2>@ViewBag.Title</h2>

<ul>
    <li><a href="https://drive.google.com/file/d/1G47cZ8s2Zf2qhXvgtqq_rCWLDseJgg72/view?usp=sharing">Resume</a></li>
    <li><a href="https://www.linkedin.com/in/jacob-d-gidley/">My LinkedIn</a></li>
    <li><a href="https://github.com/JakeDG">My GitHub</a></li>
    <li><a href="https://steamcommunity.com/workshop/filedetails/?id=219937751">Arma 3 Game Content</a></li>
    <li><a href="https://millcomputing.com/">The Mill Architecture</a> - Something that interests me and may be interesting to others.</li>
</ul>